<h1>
    <a href="/">Dashboard</a>
    <a href="/teacher-form" class="btn btn-primary pull-right">Create a new professor</a>

    <% if (user.email == "") { %>
        <a href="/login-form" class="btn btn-primary pull-right" style="background-color: blue;">Log in</a>
        <a href="/register-form" class="btn btn-primary pull-right" style="background-color: blue;">Sing Up</a>
    <% } else { %>
        <a href="/log-out" class="btn btn-primary pull-right" style="background-color: blue;">Log Out</a>
        <form action="/delete-account/<= user.id>?_method=DELETE" method="POST" class="btn pull-right">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" style="background-color: red; border-radius: 5px;">Delete Account</button>
        </form>
    <% } %>
    
    
    <h1><%= user.email %></h1>
    
</h1>
<hr>