<!--
<nav>
    <ul>
        <li>Home</li>
        <li>New Professor</li>
    </ul>
</nav>
-->

<h1>
    <a href="/">Dashboard</a>
    <a href="/new-professor" class="btn btn-primary pull-right">Create a new professor</a>
</h1>
<hr>